@use "./service/vars.scss" as vars;

.footer{
    background-color: vars.$darkestBlue;
    padding: vars.toRem(78) 0 vars.toRem(120);
    @media (max-width: vars.toEm(992, 16)) {
        padding: vars.toRem(78) 0 vars.toRem(96);
    }
    @media (max-width: vars.toEm(768, 16)) {
        padding: vars.toRem(64) 0;
    }
    @media (max-width: vars.toEm(480, 16)) {
        padding: vars.toRem(42) 0;
    }

    @media (min-width: vars.toEm(769, 16)) {
        .container{
            display: flex;
            justify-content: space-between;
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__info{
            flex: 0 0 vars.toPercent(329, vars.$container);
            margin-right: vars.toRem(30);
        }
        @media (max-width: vars.toEm(992, 16)) {
            &__info{
                margin-right: vars.toRem(24);
            }
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__info{
            margin-bottom: vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__info{
            margin-bottom: vars.toRem(24);
        }
    }

    &__image{
        max-width: 100%;
        height: auto;
    }

    &__description{
        color: rgba($color: vars.$lighterWhite, $alpha: 0.9);
        font-family: Inter;
        font-size: vars.toRem(16);
        font-weight: 400;
        line-height: vars.toEm(24, 16);

        margin: vars.toRem(20) 0;
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__description{
            margin: vars.toRem(16) 0;
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__description{
            margin: vars.toRem(10) 0;
        }
    }

    &__socials{
        display: flex;
        flex-wrap: wrap;
        gap: vars.toRem(4) vars.toRem(16);
    }

    &__social a{
        border-radius: 50%;
        background: vars.$yellow;
        color: vars.$darkestBlue;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: vars.toRem(27);
        height: vars.toRem(27);

        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s border-radius,
        cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s transform;
    }
    &__social a:focus{
        transform: rotate(360deg);
        border-radius: 25%;
    }
    @media (any-hover: hover) {
        &__social a:hover{
            transform: rotate(360deg);
            border-radius: 25%;
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__nav{
            flex: 0 1 vars.toRem(800);
        }
    }
    @media (min-width: vars.toEm(481, 16)) {
        &__nav{
            display: flex;
            flex-wrap: wrap;
            gap: vars.toRem(32) vars.toRem(60);
        }
        @media (max-width: vars.toEm(992, 16)) {
            &__nav{
                gap: vars.toRem(24) vars.toRem(46);
            }
        }
        @media (max-width: vars.toEm(768, 16)) {
            &__nav{
                gap: vars.toRem(24) vars.toRem(32);
            }
        }
    }

    @media (min-width: vars.toEm(481, 16)) {
        &__column{
            display: flex;
            flex-direction: column;
            max-width: vars.toRem(254);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__column:not(:last-child){
            margin-bottom: vars.toRem(24);
        }
    }
}
.column-footer{
    @media (min-width: vars.toEm(481, 16)) {
        &__title{
            margin-bottom: vars.toRem(24);
        }
        @media (max-width: vars.toEm(992, 16)) {
            &__title{
                margin-bottom: vars.toRem(16);
            }
        }
        @media (max-width: vars.toEm(768, 16)) {
            &__title{
                margin-bottom: vars.toRem(10);
            }
        }

        &__title button{
            display: none;
        }

        &__title span{
            color: rgba($color: vars.$lighterWhite, $alpha: 0.9);
            font-family: Inter;
            font-size: vars.toRem(20.52);
            font-weight: 500;
            line-height: vars.toEm(24, 20.52);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__title button{
            border-radius: vars.toRem(16);
            padding: vars.toRem(10);
            background-color: #fff;
            min-height: vars.toRem(50);

            color: vars.$darkestBlue;
            font-family: Inter;
            font-size: vars.toRem(22);
            font-weight: 500;
            line-height: vars.toEm(26.4, 22);

            width: 100%;

            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s border-radius,
            cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s background-color,
            cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s box-shadow,
            cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s color;
        }
        &__title button:focus{
            background-color: vars.$darkestBlue;
            box-shadow: inset 0 0 5px #fff;
            color: #fff;
        }

        &._active &__title button{
            border-radius: vars.toRem(16) vars.toRem(16) 0 0;
        }

        &__title span{
            display: none;
        }

        &__title button:focus{
            background-color: vars.$darkestBlue;
            box-shadow: inset 0 0 5px #fff;
            color: #fff;
        }
    }
    @media (max-width: vars.toEm(480, 16)) and (any-hover: hover) {
        &__title button:hover{
            background-color: vars.$darkestBlue;
            box-shadow: inset 0 0 5px #fff;
            color: #fff;
        }
    }

    @media (min-width: vars.toEm(481, 16)) {
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 auto;
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__list{
            box-shadow: inset 0 0 15px vars.$darkestBlue;
            background-color: vars.$yellow;
            border-radius: 0 0 vars.toRem(16) vars.toRem(16);

            overflow: hidden;
            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s height;
        }
    }

    @media (min-width: vars.toEm(481, 16)) {
        &__link:not(:last-child){
            margin-bottom: vars.toRem(14);
        }
        @media (max-width: vars.toEm(992, 16)) {
            &__link:not(:last-child){
                margin-bottom: vars.toRem(10);
            }
        }
        @media (max-width: vars.toEm(768, 16)) {
            &__link:not(:last-child){
                margin-bottom: vars.toRem(6);
            }
        }
    }

    @media (min-width: vars.toEm(481, 16)) {
        &__link a::after{
            background: #fff;
            height: vars.toRem(2);
            transform: translateY(100%) translateX(-50%);
        }
        &__link a:focus span,
        &__link a[class*="_icon-"]:focus::before{
            color: #fff;
        }
    }
    @media (min-width: vars.toEm(481, 16)) and (any-hover: hover) {
        &__link a:hover span,
        &__link a[class*="_icon-"]:hover::before{
            color: #fff;
        }
    }
    &__link a[class*="_icon-"]{
        display: inline-flex;
        &::before{
            color: vars.$yellow;

            flex: 0 0 vars.toRem(16);
            height: vars.toRem(16);

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: vars.toRem(8);

            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s color;
        }
    }
    &__link a{
        position: relative;
        span{
            color: vars.$darkGray;
            font-family: Inter;
            font-size: vars.toRem(16.725);
            font-weight: 500;
            line-height: vars.toEm(19, 16.725);

            transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &::after{
            display: block;
            box-shadow: inset 0 0 5px #fff;
            content: "";

            position: absolute;
            left: 50%;
            bottom: 0;

            width: 0;
            transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }
    &__link a._not-wrap span{
        white-space: nowrap;
    }
    &__link a:focus-within::after{
        width: 100%;
    }
    @media (any-hover: hover) {
        &__link a:hover::after{
            width: 100%;
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__link a{
            width: 100%;
            padding: vars.toRem(8) vars.toRem(10);
        }    
        &__link:first-child a{
            padding-top: vars.toRem(16);
        }
        &__link:last-child a{
            padding-bottom: vars.toRem(16);
        }

        &__link a::after{
            z-index: 1;

            background: vars.$darkestBlue;
            height: 100%;
            transform: translateX(-50%);
        }
        &__link:last-child a::after{
            border-radius: 0 0 vars.toRem(16) vars.toRem(16);
        }

        &__link a span,
        &__link a[class*="_icon-"]::before{
            position: relative;
            z-index: 2;

            font-size: vars.toRem(18);
            color: vars.$darkestBlue;
        }
        &__link a:not([class*="_icon-"]){
            text-align: center;
        }
        &__link a[class*="_icon-"]{
            justify-content: center;
        }

        &__link a:focus span,
        &__link a[class*="_icon-"]:focus::before{
            color: vars.$yellow;
        }
        @media (any-hover: hover) {
            &__link a:hover span,
            &__link a[class*="_icon-"]:hover::before{
                color: vars.$yellow;
            }
        }
    }
}