@use "../service/vars.scss" as vars;

.intro{
    padding: vars.toRem(44) 0 vars.toRem(61);
    @media (max-width: vars.toEm(768, 16)) {
        padding: vars.toRem(16) 0 vars.toRem(32);
    }

    background-color: vars.$darkestBlue;
    background-image: url("../assets/img/intro/background/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: vars.toEm(993, 16)) {
        &__row{
            display: flex;
            align-items: center;
        }
    }
    &__row{
        margin-bottom: vars.toRem(94);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__row{
            margin-bottom: vars.toRem(75);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__row{
            margin-bottom: vars.toRem(55);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__row{
            margin-bottom: vars.toRem(43.5);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__row{
            margin-bottom: vars.toRem(32);
        }
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__info{
            margin-right: vars.toRem(30);
            flex: 1 1 auto;

            position: relative;
            &::before{
                color: vars.$yellow;
                font-size: vars.toRem(38);
    
                position: absolute;
                z-index: 1;
                right: vars.toPercent(76, 577);
                top: vars.toPercent(145, 489);
            }
        }
        &__info > *{
            position: relative;
            z-index: 2; 
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__info{
            margin-bottom: vars.toRem(30);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__info{
            margin-bottom: vars.toRem(24);
        }
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__heading{
            max-width: vars.toRem(534);
        }
    }
    &__heading{
        color: vars.$white;
        font-family: "Avant";
        font-size: vars.toRem(60);
        font-weight: 700;
        line-height: vars.toEm(66, 60);

        margin-bottom: vars.toRem(24);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__heading{
            font-size: vars.toRem(50);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__heading{
            font-size: vars.toRem(40);
            margin-bottom: vars.toRem(16);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__heading{
            font-size: vars.toRem(30);
            margin-bottom: vars.toRem(10);
        }
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__description{
            margin-right: calc(vars.toRem(76) + vars.toRem(75));
        }
        @media (max-width: vars.toEm(vars.$containerPadding - 1, 16)) {
            &__description{
                margin-right: calc(vars.toRem(76) + vars.toRem(75) - (vars.toRem(105) + (100vw / vars.$containerPadding) * -105));
            }
        }
    }
    &__description{
        color: vars.$white;
        font-family: "Avant";
        font-size: vars.toRem(20);
        font-weight: 500;
        line-height: vars.toEm(32, 20);
        letter-spacing: -1.1%;
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__description{
            font-size: vars.toRem(18);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__description{
            font-size: vars.toRem(16);
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__interaction{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: vars.toRem(16) vars.toRem(23);
        }
    }
    &__interaction{
        margin: vars.toRem(40) calc(vars.toRem(20) + vars.toRem(75)) vars.toRem(75) 0;
    }
    @media (max-width: vars.toEm(vars.$containerPadding - 1, 16)) {
        &__interaction{
            margin: 
                vars.toRem(32) 
                calc(vars.toRem(20) + vars.toRem(75) - (vars.toRem(105) + (100vw / vars.$containerPadding) * -105)) 
                vars.toRem(50) 
                0
            ;
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__interaction{
            margin: vars.toRem(24) 0;
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__interaction{
            margin: vars.toRem(16) 0;
        }
    }

    &__start, &__play{
        display: inline-flex;
        align-items: center;

        span{
            font-family: "Avant";
            font-size: vars.toRem(16.17);
            line-height: vars.toEm(24, 16.17);
        }
    }
    @media (max-width: vars.toEm(768, 6)) {
        &__start, &__play{
            display: flex;
            justify-content: center;
        }
    }

    &__start{
        flex-direction: row-reverse;

        border-radius: vars.toRem(30);
        padding: vars.toRem(18) vars.toRem(36);
    
        &::before{
            font-size: vars.toRem(15.43);
            margin-left: vars.toRem(10);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__start{
            border-radius: vars.toRem(26);
            padding: vars.toRem(14) vars.toRem(26);

            margin-bottom: vars.toRem(10);
        }
    }

    @keyframes scalling {
        50%{
            transform: scale(1.1);
        }
        75%{
            transform: scale(0.9);
        }
    }
    &__play{
        color: #fff;
        &::before{
            margin-right: vars.toRem(12);
            font-size: vars.toRem(30);

            animation: scalling 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite;
            animation-play-state: paused;
        }
        span{
            text-align: left;
            font-weight: 500;
        }
    }
    &__play:focus::before{
        animation-play-state: running;
    }
    @media (any-hover: hover) {
        &__play:hover::before{
            animation-play-state: running;
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__play{
            width: 100%;
            background-color: #fff;
            border-radius: vars.toRem(26);
            padding: vars.toRem(14) vars.toRem(26);

            color: vars.$darkestBlue;
            &::before{
                margin-right: vars.toRem(10);
                font-size: vars.toRem(24);
            }
        }
    }
    
    @media (min-width: vars.toEm(993, 16)) {
        &__features{
            margin-right: calc(vars.toRem(20) + vars.toRem(75));
        }
        @media (max-width: vars.toEm(vars.$containerPadding - 1, 16)) {
            &__features{
                margin-right: calc(vars.toRem(20) + vars.toRem(75) - (vars.toRem(105) + (100vw / vars.$containerPadding) * -105));
            }
        }
    }
    &__features{
        display: flex;
        flex-wrap: wrap;
        gap: vars.toRem(16) vars.toRem(32);
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__features{
            gap: vars.toRem(16) vars.toRem(24);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__features{
            gap: vars.toRem(16);
        }
    }

    &__feature{
        text-align: center;
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__statistics{
            background-color: #fff;
            border-radius: vars.toRem(10);
            padding: vars.toRem(20) vars.toRem(16);
            
            position: absolute;
            z-index: 2;
    
            width: vars.toRem(202);
            left: vars.toRem(-105);
            bottom: vars.toPercent(65, 599);
        }
        @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
            &__statistics{
                left: calc((100vw / vars.$containerPadding) * -105);
            }
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__statistics{
            display: none;
        }
    }

    &__team-parent{
        flex: 0 0 vars.toPercent(753, vars.$introContainer - vars.$introContainerLeftPadding);
        padding-bottom: vars.toPercent(599, vars.$introContainer - vars.$introContainerLeftPadding);
        position: relative;
    }
    &__team, &__team img{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }
    &__team img{
        object-fit: cover;
    }

    &__partners{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: vars.toRem(20) vars.toRem(30);
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__partners{
            gap: vars.toRem(16) vars.toRem(24);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__partners{
            gap: vars.toRem(16);
        }
    }
}
.feature-intro{
    &__title{
        display: flex;
        justify-content: center;
        align-items: flex-end;

        color: vars.$yellow;
        font-family: "Avant";
        font-weight: 600;
        
        span{
            line-height: vars.toEm(56, 27);
            font-size: vars.toRem(27);
            transform: translateY(vars.toRem(5));
        }
        strong{
            font-size: vars.toRem(44);
            line-height: vars.toEm(56, 44);
        }

        margin-bottom: vars.toRem(10);
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__title{
            span{
                line-height: vars.toEm(46, 27);
            }
            strong{
                line-height: vars.toEm(46, 44);
            }
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__title{
            span{
                font-size: vars.toRem(20);
                line-height: vars.toEm(37, 20);
            }
            strong{
                font-size: vars.toRem(35);
                line-height: vars.toEm(37, 35);
            }
        }
    }

    &__description{
        color: #fff;
        font-family: "Avant";
        font-size: vars.toRem(16.11);
        font-weight: 500;
        line-height: vars.toEm(28, 16.11);
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__description{
            line-height: vars.toEm(20, 16.11);
        }
    }
}
@media (min-width: vars.toEm(993, 16)) {
    .statistics-intro{
        &__description{
            display: inline-block;
            padding: vars.toRem(2) vars.toRem(8);
    
            font-family: Manrope;
            font-size: vars.toRem(12);
            font-weight: 400;
            line-height: vars.toEm(18, 12);
            letter-spacing: -1.1%;
    
            color: vars.$darkestBlue;
            background: rgba($color: vars.$yellow, $alpha: 0.5);
            border-radius: vars.toRem(11);
        }
    
        &__subdescription{
            margin: vars.toRem(18) 0 vars.toRem(16);
    
            color: vars.$darkBlue;
            font-family: Manrope;
            font-size: vars.toRem(16);
            font-weight: 600;
            line-height: vars.toEm(18, 16);
            letter-spacing: -1.1%;
        }
    
        &__graph{
            margin-bottom: vars.toRem(24);
            img{
                width: 100%;
                height: auto;
            }
        }
    
        &__calendar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: vars.toRem(6);
        }
    
        &__month{
            color: vars.$darkestBlue;
            font-family: Manrope;
            font-size: vars.toRem(12);
            font-weight: 500;
            line-height: vars.toEm(18, 12);
            letter-spacing: -1.1%;
        }
        &__month._current{
            padding: vars.toRem(2) vars.toRem(7);
            border-radius: vars.toRem(9);
            background: vars.$lightYellow;
        }
    }   
}

@media (min-width: vars.toEm(vars.$introContainer, 16)) {
    .container_intro{
        padding-left: vars.toRem(vars.$introContainerLeftPadding);
    }
}
@media (min-width: vars.toEm(993, 16)) {
    .container_intro{
        position: relative;
        &::after{
            border-radius: 50%;
            background: vars.$yellowOrange;
    
            content: "";
            width: vars.toRem(12);
            height: vars.toRem(12);
    
            position: absolute;
            left: vars.toPercent(704, vars.$introContainer);
            top: vars.toPercent(-32, 833);
        }
    }
}
@media (max-width: vars.toEm((vars.$introContainer - 1), 16)) and (min-width: vars.toEm(vars.$containerPadding, 16)) {
    .container_intro{
        padding-left: calc((100% - vars.toRem(vars.$container)) / 2);
    }
}
.container_intro{
    max-width: vars.toRem(vars.$introContainer);
    margin: 0 auto;
}
@media (max-width: vars.toEm(vars.$containerPadding, 16)) {
    .container_intro{
        padding-left: vars.toPixel(vars.$containerPaddings);
    }
}
@media (max-width: vars.toEm(992, 16)) {
    .container_intro{
        padding-right: vars.toPixel(vars.$containerPaddings);
    }
}