@use "../service/vars.scss" as vars;

.ready{
    padding-top: 0;

    @media (min-width: vars.toEm(769, 16)) {
        &__image-parent{
            padding-bottom: vars.toPercent(653, vars.$container);
            &::after{
                height: vars.toPercent(182, 653);
                bottom: vars.toPercent(-45, 653);
            }
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__description{
            max-width: vars.toRem(477);
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__list{
            max-width: vars.toRem(449);
        }
    }

    &__link{
        display: flex;
        align-items: flex-start;
        &:not(:last-child){
            margin-bottom: vars.toRem(24);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__link:not(:last-child){
            margin-bottom: vars.toRem(16);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__link:not(:last-child){
            margin-bottom: vars.toRem(10);
        }
    }
}
.link-ready{
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: vars.toRem(24);

        background: vars.$darkBlue;
        border-radius: 50%;
        flex: 0 0 vars.toRem(68);
        height: vars.toRem(68);

        color: vars.$yellow;
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__icon{
            margin-right: vars.toRem(16);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__icon{
            flex: 0 0 vars.toRem(56);
            height: vars.toRem(56);
            margin-right: vars.toRem(10);
        }
    }

    &__icon._icon-frist::before{
        font-size: vars.toRem(26.66);
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__icon._icon-frist::before{
            font-size: vars.toRem(23);
        }
    }
    &__icon._icon-team::before{
        font-size: vars.toRem(25);
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__icon._icon-team::before{
            font-size: vars.toRem(21.5);
        }
    }
    &__icon._icon-support::before{
        font-size: vars.toRem(26.67);
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__icon._icon-support::before{
            font-size: vars.toRem(23);
        }
    }

    &__title{
        color: vars.$darkBlue;
        font-family: "Avant";
        font-size: vars.toRem(20);
        font-weight: 600;
        line-height: vars.toEm(32, 20);

        margin-bottom: vars.toRem(2);
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__title{
            line-height: vars.toEm(26, 16);
        }
    }

    &__description{
        color: vars.$lightGrayBlue;
        font-family: Inter;
        font-size: vars.toRem(16);
        font-weight: 400;
        line-height: vars.toEm(24, 16);
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__description{
            line-height: vars.toEm(20, 16);
        }
    }
}