@use "../service/vars.scss";

.reviews{
    padding-bottom: vars.toRem(140);
    @media (max-width: vars.toEm(vars.$container + 30, 16)) {
        padding-bottom: vars.toRem(108);
    }
    @media (max-width: vars.toEm(992, 16)) {
        padding-bottom: vars.toRem(96);
    }
    @media (max-width: vars.toEm(768, 16)) {
        padding-bottom: vars.toRem(64);
    }
    @media (max-width: vars.toEm(480, 16)) {
        padding-bottom: vars.toRem(42);
    }

    .container{
        text-align: center;
        max-width: vars.toRem(560 + vars.$containerPaddings*2);

        margin-bottom: vars.toRem(80);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        .container{
            margin-bottom: vars.toRem(64);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        .container{
            margin-bottom: vars.toRem(46);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        .container{
            margin-bottom: vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        .container{
            margin-bottom: vars.toRem(24);
        }
    }

    &__supheading{
        line-height: vars.toEm(28, 16);
    }

    &__slider{
        overflow-x: hidden;
    }

    &__slide{
        text-align: center;
        align-self: center;

        max-width: vars.toRem(572);
        padding: vars.toRem(31) vars.toRem(60) vars.toRem(32);
        background-color: #fff;
        border-radius: vars.toRem(10);
        box-shadow: 0px 25px 32px 0px rgba(67, 67, 67, 0.14);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__slide{
            max-width: vars.toRem(520);
            padding: vars.toRem(24) vars.toRem(46);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__slide{
            max-width: vars.toRem(470);
            padding: vars.toRem(24) vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__slide{
            max-width: vars.toRem(420);
            padding: vars.toRem(16) vars.toRem(24);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__slide{
            max-width: vars.toRem(290);
            padding: vars.toRem(16);
        }
    }

    &__dots{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vars.toRem(16);

        margin-top: vars.toRem(80);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__dots{
            margin-top: vars.toRem(64);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__dots{
            margin-top: vars.toRem(46);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__dots{
            margin-top: vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__dots{
            margin-top: vars.toRem(24);
        }
    }

    &__dots span{
        opacity: 1;
        background-color: vars.$moreLighterGray;
        border-radius: 50%;
        flex: 0 0 vars.toRem(16);
        height: vars.toRem(16);
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s background-color,
        cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s transform;
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__dots span{
            flex: 0 0 vars.toRem(14);
            height: vars.toRem(14);
        }
    }

    &__dots:not(._hide-active) span.swiper-pagination-bullet-active,
    &__dots span._intrct{
        background-color: vars.$darkestBlue;
        transform: scale(1.25);
    }
}
.slide-reviews{
    &__ava{
        display: block;
        margin: 0 auto;

        border-radius: 50%;
        border: vars.toRem(1) solid vars.$lighterGray;

        width: vars.toRem(62);
        height: vars.toRem(62);
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__name{
            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s margin;
        }
    }
    &__name{
        color: #000;
        font-family: Avant;
        font-size: vars.toRem(14);
        font-weight: 500;
        line-height: vars.toEm(24, 14);

        margin: vars.toRem(9) 0 vars.toRem(4);
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__name{
            line-height: vars.toEm(20, 14);
        }    
    }
    @media (min-width: vars.toEm(993, 16)) {
        &.swiper-slide-active &__name{
            margin: vars.toRem(15) 0 vars.toRem(4);
        }    
    }

    &__job{
        color: vars.$lightestGrayBlue;
        font-family: Inter;
        font-size: vars.toRem(12);
        font-weight: 500;
        line-height: vars.toEm(18, 12);
    }

    @media (min-width: vars.toEm(993, 16)) {
        &__stars{
            transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s margin;
        }
    }
    &__stars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        column-gap: vars.toRem(4);
        margin: vars.toRem(4) 0 vars.toRem(10);
    }
    @media (min-width: vars.toEm(993, 16)) {
        &.swiper-slide-active &__stars{
            margin: vars.toRem(4) 0 vars.toRem(20);
        }
    }

    &__stars{
        min-height: vars.toRem(16);
    }
    &__star{
        font-size: vars.toRem(12);
        color: vars.$darkBlue;
    }
    &__star.in-range{
        color: vars.$orange;
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__review{
            span{
                display: inline-block;
                margin: 0 auto;
                max-width: 100%;

                transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s max-width;
            }
            &::after{
                content: "\e911";
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                color: vars.$orange;
                font-size: vars.toRem(19.87);

                position: absolute;
                bottom: 0;
                right: vars.toRem(-9);
                transform: translateX(100%);

                transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s right;
            }
            &::before{
                color: vars.$orange;
                font-size: vars.toRem(19.87);
    
                position: absolute;
                top: 0;
                left: vars.toRem(-9);
                transform: translateX(-100%);

                transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s left;
            }
        }
    }
    &__review{
        position: relative;
        span{
            color: vars.$lightGrayBlue;
            font-family: Inter;
            font-size: vars.toRem(16);
            font-weight: 500;
            line-height: vars.toEm(30, 16);
        }
    }
    @media (max-width: vars.toEm(992, 16)) and (min-width: vars.toEm(769, 16)) {
        &__review{
            &::after{
                font-size: vars.toRem(15);
                right: vars.toRem(-5);
            }
            &::before{
                font-size: vars.toRem(15);
                left: vars.toRem(-5);
            }
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__review::before{
            display: none;
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &.swiper-slide-active &__review{
            span{
                font-size: vars.toRem(20);
                line-height: vars.toEm(30, 20);
    
                max-width: vars.toRem(409);
            }
            &::after{
                right: calc((100% - vars.toRem(409)) / 2 - vars.toRem(9));
            }
            &::before{
                left: calc((100% - vars.toRem(409)) / 2 - vars.toRem(9));
            }
        }
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) and (min-width: vars.toEm(769, 16)) {
        &.swiper-slide-active &__review{
            span{
                max-width: vars.toRem(372);
            }
            &::after{
                right: calc((100% - vars.toRem(372)) / 2 - vars.toRem(5));
            }
            &::before{
                left: calc((100% - vars.toRem(372)) / 2 - vars.toRem(5));
            }
        }
    }
    @media (max-width: vars.toEm(992, 16)) and (min-width: vars.toEm(769, 16)) {
        &.swiper-slide-active &__review{
            span{
                max-width: vars.toRem(336);
            }
            &::after{
                right: calc((100% - vars.toRem(336)) / 2 - vars.toRem(9));
            }
            &::before{
                left: calc((100% - vars.toRem(336)) / 2 - vars.toRem(9));
            }
        }
    }
}