@use "../service/vars.scss" as vars;

.works{
    padding: vars.toRem(140) 0;
    @media (max-width: vars.toEm(vars.$container + 30, 16)) {
        padding: vars.toRem(108) 0;
    }
    @media (max-width: vars.toEm(992, 16)) {
        padding: vars.toRem(96) 0;
    }
    @media (max-width: vars.toEm(768, 16)) {
        padding: vars.toRem(64) 0;
    }
    @media (max-width: vars.toEm(480, 16)) {
        padding: vars.toRem(42) 0;
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .container{
        margin-bottom: vars.toRem(58);
    }
    @media (max-width: vars.toEm(992, 16)) {
        .container{
            margin-bottom: vars.toRem(40);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        .container{
            margin-bottom: vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        .container{
            margin-bottom: vars.toRem(24);
        }
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__info{
            margin-right: vars.toRem(30);
            max-width: vars.toRem(508);
        }
        @media (max-width: vars.toEm(992, 16)) {
            &__info{
                margin-right: vars.toRem(24);
            }
        }
    }
    &__supheading{
        line-height: vars.toEm(24, 16);
    }

    @media (min-width: vars.toEm(769, 16)) {
        &__interaction{
            justify-content: center;
        }
    }
    &__interaction{
        display: flex;
        align-items: center;
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__interaction{
            margin-top: vars.toRem(10);
        }
    }

    &__arrow::before{
        color: vars.$grayBlue;
        font-size: vars.toRem(42);
    }
    &__arrow:not(:disabled)::before{
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.15s text-shadow;
    }
    &__arrow:focus::before{
        text-shadow: 0 0 5px vars.$grayBlue;
    }
    @media (any-hover: hover) {
        &__arrow:not(:disabled):hover::before{
            text-shadow: 0 0 5px vars.$grayBlue;
        }
    }
    &__arrow[disabled]::before{
        color: vars.$lightGray;
    }
    &__arrow:first-child{
        margin-right: vars.toRem(18);
    }

    &__slider{
        overflow-x: hidden;
        
        padding-left: calc((100vw - vars.toRem(vars.$container)) / 2);
        padding-right: vars.toPixel(vars.$containerPaddings);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__slider{
            padding-left: vars.toPixel(vars.$containerPaddings);
        }
    }
    &__slide{
        max-width: vars.toRem(510);
        display: flex;
        flex-direction: column;
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__slide{
            max-width: vars.toRem(450);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__slide{
            max-width: vars.toRem(400);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__slide{
            max-width: vars.toRem(350);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__slide{
            max-width: vars.toRem(250);
        }
    }
}
.slide-works{
    &__image{
        width: 100%;
        padding-bottom: vars.toPercent(641, 510);
        position: relative;

        margin-bottom: vars.toRem(40);
    }
    @media (max-width: vars.toEm(vars.$containerPadding, 16)) {
        &__image{
            padding-bottom: vars.toPercent(570, 450);
        }
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__image{
            padding-bottom: vars.toPercent(500, 400);
            margin-bottom: vars.toRem(32);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__image{
            padding-bottom: vars.toPercent(440, 350);
            margin-bottom: vars.toRem(24);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__image{
            padding-bottom: vars.toPercent(315, 250);
            margin-bottom: vars.toRem(16);
        }
    }

    &__image img{
        border-radius: vars.toRem(16);
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }

    &__title{
        color: vars.$darkBlue;
        font-family: "Avant";
        font-size: vars.toRem(34);
        font-weight: 500;
        line-height: vars.toEm(36, 34);
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__title{
            font-size: vars.toRem(30);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__title{
            font-size: vars.toRem(26);
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__title{
            font-size: vars.toRem(22);
        }
    }

    &__description{
        color: vars.$lightGrayBlue;
        font-family: Inter;
        font-size: vars.toRem(20);
        font-weight: 400;
        line-height: vars.toEm(30, 20);
        
        margin: vars.toRem(20) 0 vars.toRem(16);
        flex: 1 1 auto;
    }
    @media (max-width: vars.toEm(992, 16)) {
        &__description{
            margin: vars.toRem(16) 0 vars.toRem(10);
        }
    }
    @media (max-width: vars.toEm(768, 16)) {
        &__description{
            font-size: vars.toRem(18);
            margin: vars.toRem(10) 0;
        }
    }
    @media (max-width: vars.toEm(480, 16)) {
        &__description{
            font-size: vars.toRem(16);
        }
    }

    &__link{
        display: inline-flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: row-reverse;

        color: vars.$darkBlue;
        span{
            font-family: "Avant";
            font-size: vars.toRem(16);
            font-weight: 600;
            line-height: vars.toEm(19, 16);
        }
        &::before{
            font-size: vars.toRem(10);
            margin-left: vars.toRem(10);
            
            animation: arrowMove 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite;
            animation-play-state: paused;
        }
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s letter-spacing;
    }
    &__link:focus{
        letter-spacing: vars.toEm(2, 16);
        &::before{
            animation-play-state: running;
        }
    }
    @media (any-hover: hover) {
        &__link:hover{
            letter-spacing: vars.toEm(2, 14);
            &::before{
                animation-play-state: running;
            }
        }
    }
}