*,*::after,*::before{
    box-sizing: border-box;
}
body, ul, h1, h2, h3, h4, figure, dl, dd{
    margin: unset;
}
address{
    font-style: unset;
}
ul, button{
    padding: unset;
}
picture, a, span, button{
    display: inline-block;
}
a{
    text-decoration: unset;
    color: unset;
}
button:not(:disabled){
    cursor: pointer;
}
button, input{
    background-color: unset;
    border: unset;
}
button{
    text-align: center;
}
ul{
    list-style: none;
}
img{
    display: block;
}
a:focus, button:focus, input:focus{
    outline: none;
}
strong{
    font-weight: unset;
}