@use "sass:math";

$lightestGrayBlue: #8791A0;
$lightGrayBlue: #555C68;
$grayBlue: #636770;
$darkestBlue: #101C26;
$darkBlue: #24272E;

$yellow: #F0E714;
$lightYellow: #F7F289;
$yellowOrange: #EDB32D;
$orange: #F37825;

$darkGray: #B3B3B3;
$gray: #BAB9B9;
$lightGray: #828282;
$lighterGray: #DCDCDC;
$moreLighterGray: #D2D2D2;
$lightestGray: #CECECE;
$white: #F3F4F6;
$lighterWhite: #f5f5f5;

$container: 1280;
$containerPaddings: 15;
$containerPadding: $container + $containerPaddings*2;

$introContainer: 1440;
$introContainerLeftPadding: math.div($introContainer - $container, 2);

@function toPixel($px){
    @return $px * 1px;
}
@function toRem($px){
    @return math.div($px, 16) * 1rem;
}
@function toEm($ch, $pr){
    @return math.div($ch, $pr) * 1em;
}
@function toPercent($ch, $pr){
    @return math.div($ch, $pr) * 100%;
}